# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
examples/http-echo/http-echo
examples/http-echo/http-echo-linux
examples/http-client/http-client-linux
*.test
*.out

# Go workspace file
go.work

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
