# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
examples/http-echo/http-echo
examples/http-echo/http-echo-linux
examples/http-client/http-client-linux
examples/http-echo-instrumented/http-echo-instrumented-linux
examples/http-client-instrumented/http-client-instrumented-linux
examples/http-relay/http-relay-linux
examples/http-relay-initiator/http-relay-initiator-linux
examples/pingpong-initiator/pingpong-initiator-linux
examples/pingpong-relay/pingpong-relay-linux
examples/pingpong-responder/pingpong-responder-linux
*.test
*.out

# Go workspace file
go.work

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
